.delivery {
	display: flex;
	flex-direction: column;
	gap: 13px;
}
.delivery__details {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
}
.delivery__date {
	box-sizing: content-box;
	color: var(--accent-color);
	border-bottom: 1px dashed rgba(var(--accent-color-rgb), 0.2);
}
.delivery__name {
	position: relative;
	top: -1px;
}

@media (max-width: 768px) {
	.delivery__information {
		background: var(--bg-smoky-dark);
	}
	.delivery__details {
		display: none;
	}
}
