.delivery {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.delivery__method .method__change {
	margin-top: 3px;
}
.delivery__details {
	width: 100%;
	margin-block: -1px 1px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
}
.delivery__address {
	margin-top: 2px;
}
.delivery__date {
	box-sizing: content-box;
	color: var(--accent-color);
	border-bottom: 1px dashed rgba(var(--accent-color-rgb), 0.2);
}

@media (max-width: 576px) {
	.delivery__information {
		background: var(--bg-smoky-dark);
	}
}
