.footer {
	width: 100%;
	height: var(--footer-height);
	margin-top: -24px;
	color: var(--primary-color);
	background: var(--primary-bg-color);
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.footer__copyright {
	height: var(--footer-content-height);
	opacity: 0.7;
	line-height: 64px;
	text-align: center;
}
