.header {
	width: 100%;
	height: var(--header-height);
	background: var(--primary-bg-color);
	color: var(--primary-color);
}
.header__wrapper {
	width: 100%;
	height: var(--header-content-height);
	display: flex;
	justify-content: space-between;
	padding: 16px 20px 16px 24px;
	align-items: center;
	gap: 31px;
}
.header__burgerWithLogo {
	display: flex;
	gap: 16px;
}
.header__burger {
	width: 48px;
	height: 48px;
	border-radius: 8px;
	border: 1px solid rgba(var(--primary-color-rgb), 0.45);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6px;
}
.header__burger span {
	display: inline-block;
	width: 28px;
	height: 4px;
	background: var(--primary-color);
	border-radius: 2px;
}
.header__logo {
	width: 107px;
	height: 48px;
	margin-top: -2px;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	font-variant: all-small-caps;
	letter-spacing: 0.56px;
}
.header__logo p {
	position: relative;
	bottom: 2px;
}
.header__iconsBlock {
	display: flex;
	gap: 40px;
	margin-right: 2px;
}

.search {
	position: relative;
	flex-grow: 1;
}
.search__input {
	width: 100%;
	height: 48px;
	border: none;
	border-radius: 36px;
	background: rgba(var(--primary-color-rgb), 0.20);
	padding-inline: 20px 64px;
	padding-bottom: 5px;
	font-size: 18px;
	line-height: 24px;
}
.search__input::placeholder {
	font-family: "Segoe UI", sans-serif;
	color: rgba(var(--primary-color-rgb), 0.5);
	font-size: 18px;
	line-height: 24px;
}
.search__button {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
}

.iconWithText {
	position: relative;
	width: 56px;
	height: 56px;
	padding-top: 1px;
	padding-left: 2px;
	display: flex;
	flex-direction: column;
	gap: 6px;
	align-items: center;
	text-align: center;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}
.iconWithText__icon {
	width: 29px;
	height: 29px;
	margin-left: 3px;
}
.iconWithText__icon_withNotification {
	margin-right: 7px;
	margin-left: 0;
}

.notification {
	position: absolute;
	display: block;
	top: -4px;
	right: 7px;
	min-width: 16px;
	height: 16px;
	border-radius: 8px;
	background: var(--notification-color);
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
}
