@import url('../assets/fonts/stylesheet.css');

*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--overlap-heihgt: 24px;
	--header-height: 112px;
	--footer-height: 88px;
	--header-content-height: calc(var(--header-height) - var(--overlap-heihgt));
	--footer-content-height: calc(var(--footer-height) - var(--overlap-heihgt));

	--primary-bg-color: #6725A8FF;
	--primary-bg-color-rgb: 103, 37, 168;
	--content-bg-color: #ffffff;
	--content-bg-color-rgb: 255, 255, 255;

	--primary-color: #ffffff;
	--primary-color-rgb: 255, 255, 255;
	--secondary-color: #000000;
	--secondary-color-rgb: 0, 0, 0;

	--notification-color: #F55123;
	--notification-color-rgb: 245, 81, 35;
	--accent-color: #CB11AB;
	--accent-color-rgb: 203, 17, 171;
	--bg-smoky: #F6F6FA;
	--bg-smoky-rgb: 246, 246, 250;
	--confirmed-color: #0CB477;
	--confirmed-color-rgb: 12, 180, 119;

	font-family: "Segoe UI", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}

body {
	display: flex;
	flex-direction: column;
}
button {
	cursor: pointer;
	background: none;
	border: none;
	border-radius: 0;
	color: var(--primary-color);
}
input {
	font-family: "Segoe UI", sans-serif;
	color: var(--primary-color);
}
input:focus {
	border: none;
	outline: none;
}

.header {
	width: 100%;
	height: var(--header-height);
	background: var(--primary-bg-color);
	color: var(--primary-color);
}
.header__wrapper {
	width: 100%;
	height: var(--header-content-height);
	display: flex;
	padding: 16px 20px 16px 24px;
	align-items: center;
	gap: 31px;
}
.header__burgerWithLogo {
	display: flex;
	gap: 16px;
}
.header__burger {
	width: 48px;
	height: 48px;
	border-radius: 8px;
	border: 1px solid rgba(var(--primary-color-rgb), 0.45);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6px;
}
.header__burger div {
	width: 28px;
	height: 4px;
	background: var(--primary-color);
	border-radius: 2px;
}
.header__logo {
	width: 107px;
	height: 48px;
	margin-top: -2px;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	font-variant: all-small-caps;
	letter-spacing: 0.56px;
}
.header__logo p {
	position: relative;
	bottom: 2px;
}
.header__iconsBlock {
	display: flex;
	gap: 40px;
}

.search {
	position: relative;
}
.search__input {
	width: 971px;
	height: 48px;
	border: none;
	border-radius: 36px;
	background: rgba(var(--primary-color-rgb), 0.20);
	padding-inline: 20px 64px;
	padding-bottom: 4px;
	font-size: 18px;
	line-height: 24px;
}
.search__input::placeholder {
	font-family: "Segoe UI", sans-serif;
	color: rgba(var(--primary-color-rgb), 0.5);
	font-size: 18px;
	line-height: 24px;
}
.search__button {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
}

.iconWithText {
	position: relative;
	width: 56px;
	height: 56px;
	padding-top: 1px;
	padding-left: 2px;
	display: flex;
	flex-direction: column;
	gap: 6px;
	align-items: center;
	text-align: center;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}
.iconWithText__icon {
	width: 29px;
	height: 29px;
	margin-left: 3px;
}
.iconWithText__icon_withNotification {
	margin-right: 7px;
	margin-left: 0;
}

.notification {
	position: absolute;
	display: block;
	top: -4px;
	right: 7px;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: var(--notification-color);
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
}

.main {
	width: 100%;
	height: calc(2045px - 88px - 64px + 2px);
	padding: 22px 24px;
	margin-top: -24px;
	color: var(--secondary-color);
	background: var(--bg-smoky);
	display: flex;
	gap: 32px;
	border-radius: 24px;
	z-index: 1;
}

.goods {
	width: 891px;
	height: 500px;
	border: 1px solid black;
}

.total {
	width: 430px;
	height: 572px;
	padding: 16px 24px 24px 25px;
	border-radius: 16px;
	background: var(--content-bg-color);
	box-shadow: 0 0 1px 0 rgba(var(--secondary-color-rgb), 0.30), 0 2px 10px 0 rgba(var(--secondary-color-rgb), 0.15);
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.total__order {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.total__button {
	width: 100%;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	background: var(--accent-color);
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
}
.total__agreement {
	display: flex;
	gap: 8px;
}
.total__agreement img {
	width: 13px;
	height: 24px;
}


.method {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
}
.method__change {
	width: 20px;
	height: 20px;
}

.delivery {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.delivery__method .method__change {
	margin-top: 2px;
}
.delivery__details {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
}
.delivery__address {
	margin-top: 2px;
}
.delivery__date {
	box-sizing: content-box;
	color: var(--accent-color);
	border-bottom: 1px dashed rgba(var(--accent-color-rgb), 0.2);
}

.information {
	height: 52px;
	width: 100%;
	border-radius: 8px;
	padding: 8px 8px 11px 8px;
	background: var(--bg-smoky);
	display: flex;
	align-items: center;
	gap: 8px;
}
.information__confirmed {
	width: 22px;
	height: 22px;
	margin-bottom: 2px;
}
.information__details span {
	box-sizing: content-box;
	color: var(--confirmed-color);
	border-bottom: 1px dashed rgba(var(--confirmed-color-rgb), 0.2);
}

.totalPrice {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.totalPrice__total {
	display: flex;
	justify-content: space-between;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: -0.24px;
}
.totalPrice__price {
	display: flex;
	gap: 5px;
	align-items: flex-end;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: -0.24px;
}
.totalPrice__price_small {
	font-size: 16px;
	line-height: 24px;
}
.totalPrice__price span {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: -0.2px;
}
.totalPrice__detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	line-height: 24px;
}

.payment {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.payment__method {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.payment__immediately {
	height: 66px;
	width: 100%;
	padding: 8px 8px 12px 8px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-radius: 8px;
	background: var(--bg-smoky);
}

.checkbox {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}
.checkbox:before {
	content: " ";
	height: 22px;
	width: 22px;
	background-image: url("../assets/icons/Checkbox.svg");
	position: relative;
}
.checkbox input {
	display: none;
}

.paymentCard {
	display: flex;
	gap: 8px;
	align-items: center;
}
.paymentCard__paymentSystem {
	width: 32px;
	height: 24px;
	padding: 1px;
}

.footer {
	width: 100%;
	height: 88px;
	margin-top: -22px;
	color: var(--primary-color);
	background: var(--primary-bg-color);
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.footer__copyright {
	height: 66px;
	opacity: 0.7;
	line-height: 64px;
	text-align: center;
}
