@import url('../assets/fonts/stylesheet.css');
@import url('./accordion.css');
@import url('./address.css');
@import url('./addressForm.css');
@import url('./card.css');
@import url('./checkbox.css');
@import url('./counter.css');
@import url('./delivery.css');
@import url('./footer.css');
@import url('./form.css');
@import url('./goods.css');
@import url('./header.css');
@import url('./iconWithText.css');
@import url('./information.css');
@import url('./main.css');
@import url('./method.css');
@import url('./modal.css');
@import url('./notification.css');
@import url('./orderDetails.css');
@import url('./payment.css');
@import url('./paymentCard.css');
@import url('./paymentForm.css');
@import url('./price.css');
@import url('./product.css');
@import url('./radio.css');
@import url('./search.css');
@import url('./tabbar.css');
@import url('./total.css');
@import url('./totalPrice.css');

*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--overlap-heihgt: 24px;
	--header-height: 112px;
	--header-height-mobile: 80px;
	--footer-height: 88px;
	--header-content-height: calc(var(--header-height) - var(--overlap-heihgt));
	--header-content-height-mobile: calc(var(--header-height-mobile) - var(--overlap-heihgt));
	--footer-content-height: calc(var(--footer-height) - var(--overlap-heihgt));

	--primary-bg-color: #6725A8FF;
	--primary-bg-color-rgb: 103, 37, 168;
	--content-bg-color: #ffffff;
	--content-bg-color-rgb: 255, 255, 255;

	--primary-color: #ffffff;
	--primary-color-rgb: 255, 255, 255;
	--secondary-color: #000000;
	--secondary-color-rgb: 0, 0, 0;

	--notification-color: #F55123;
	--notification-color-rgb: 245, 81, 35;
	--accent-color: #CB11AB;
	--accent-color-rgb: 203, 17, 171;
	--bg-smoky: #F6F6FA;
	--bg-smoky-rgb: 246, 246, 250;
	--bg-smoky-dark: #F0ECF4;
	--bg-smoky-dark-rgb: 240, 236, 244;
	--confirmed-color: #0CB477;
	--confirmed-color-rgb: 12, 180, 119;
	--gray-color: #9797AF;
	--gray-color-rgb: 151, 151, 175;
	--light-gray-color: #A0A0A4;
	--light-gray-color-rgb: 160, 160, 164;
	--dark-system-coral: #FF3B30;
	--dark-system-coral-rgb: 255, 59, 48;

	--overlay-color: rgba(5, 0, 10, 0.30);;

	font-family: "Segoe UI", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}

body {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}
button {
	cursor: pointer;
	background: none;
	border: none;
	border-radius: 0;
	color: var(--primary-color);
}
input {
	font-family: "Segoe UI", sans-serif;
	color: var(--primary-color);
	border: none;
	outline: none;
}
input:focus {
	border: none;
	outline: none;
}
a {
	cursor: pointer;
}
.hide {
	display: none;
}
