.payment {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.payment__method {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.payment__immediately {
	width: 100%;
	padding: 8px 8px 12px 8px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-radius: 8px;
	background: var(--bg-smoky);
}

@media (max-width: 768px) {
	.payment__method {
		display: none;
	}
	.payment__immediately {
		background: var(--bg-smoky-dark);
		margin-bottom: 8px;
	}
}
