.search {
	position: relative;
	flex-grow: 1;
}
.search__input {
	width: 100%;
	height: 48px;
	border: none;
	border-radius: 36px;
	background: rgba(var(--primary-color-rgb), 0.20);
	padding-inline: 20px 64px;
	padding-bottom: 5px;
	font-size: 18px;
	line-height: 24px;
}
.search__input::placeholder {
	font-family: "Segoe UI", sans-serif;
	color: rgba(var(--primary-color-rgb), 0.5);
	font-size: 18px;
	line-height: 24px;
}
.search__button {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
}
