.tabbar {
	height: 56px;
	padding-inline: 13px;
	display: none;
	justify-content: space-between;
	align-items: center;
}
.tabbar__notification {
	transform: translate(-0%, -20%);
}

@media (max-width: 768px) {
	.tabbar {
		display: flex;
	}
}
